{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_copy/paste_modal

    Example context (json):
    {
    }
}}

<div data-region="local-copy-paste-form">
    <div class="mb-3">
        <label class="form-label" for="local-copy-section-select">{{#str}}pastesection, local_copy{{/str}}</label>
        <select id="local-copy-section-select" class="form-select custom-select" data-region="local-copy-section"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="local-copy-position-select">{{#str}}pasteposition, local_copy{{/str}}</label>
        <select id="local-copy-position-select" class="form-select custom-select" data-region="local-copy-position"></select>
    </div>
    <div class="alert alert-danger d-none mb-0" data-region="local-copy-errors" role="alert"></div>
</div>
