<div data-region="local-copy-paste-form">
    <div class="mb-3">
        <label class="form-label" for="local-copy-section-select">{{#str}}pastesection, local_copy{{/str}}</label>
        <select id="local-copy-section-select" class="form-select custom-select" data-region="local-copy-section"></select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="local-copy-position-select">{{#str}}pasteposition, local_copy{{/str}}</label>
        <select id="local-copy-position-select" class="form-select custom-select" data-region="local-copy-position"></select>
    </div>
    <div class="alert alert-danger d-none mb-0" data-region="local-copy-errors" role="alert"></div>
</div>
